body {
    height: 100vh;
    background: linear-gradient(#e5629d, #fc8e44);

}

.container {
    width: 300px;
    padding: 50px;
    border: 1px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    box-shadow: 0 15px 35px black;
    border-radius: 40px;
}

input {
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 35%;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #fb7341;
    border-radius: 10px;
    border-color: #fb7341;
    border-width: 10px;
}